<nz-layout class="layout" nzTheme="dark">
  <nz-sider nzCollapsible nzBreakpoint="xs"> 
    
    <div class="logo"><img src="./assets/img/blanco.png"  height=35
      style="margin:auto;"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
    

      <li nz-submenu nzTitle="Config. Act Fijo" nzIcon="tool">
        <ul>
          <li nz-menu-item routerLink="tipoactivo">Tipo de activo</li>
          <li nz-menu-item>Marcas de activo</li>
          <li nz-menu-item>Modelos de activo</li>
        </ul>
      </li>
      
      <li nz-submenu nzTitle="Config.Usuarios" nzIcon="team" nzSpin="true">
        <ul>
          <li nz-menu-item routerLink="usuarios">Usuarios</li>
          <li nz-menu-item routerLink="roles">Roles</li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <ul nz-menu nzTheme="dark" nzMode="horizontal">
        
        <li nz-submenu nzTitle="Dhernandez" nzIcon="user" style="float: right !important;
        margin-right: 50px !important;">
          <ul style="float: left !important;">
            <li nz-menu-item>Mi cuenta</li>
            <li nz-menu-item>Cerrar Sesión</li>
          </ul>
        </li>
      </ul>
    </nz-header>
    <nz-content>
      <div class="inner content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>