<nz-layout class="layout" nzTheme="dark">
  <nz-sider nzCollapsible nzBreakpoint="xs">

    <div class="logo"><img src="./assets/img/blanco.png"  height=35
      style="margin:auto;"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">


      <li nz-submenu nzTitle="Gestiones" nzIcon="tool">
        <ul style="align-items:left !important; float: left !important;">
          <li nz-menu-item routerLink="tipoactivo" > Tipo de activo</li>
          <li nz-menu-item routerLink="marcasactivo"> Marcas de activo</li>
          <li nz-menu-item routerLink="modelosactivo">Modelos de activo</li>
          <li nz-menu-item routerLink="tipoBienVnr">Tipo bien VNR</li>
          <li nz-menu-item routerLink="clasificacionAgd">Clasficaciones AGD</li>
          <li nz-menu-item routerLink="tiposdocumentos">Tipos de documento</li>
        </ul>
      </li>

      <li nz-submenu nzTitle="Gestión de activos" nzIcon="snippets" nzSpin="true">
        <ul>
          <li nz-menu-item routerLink="actfijoGestion">Gestión</li>
          <li nz-menu-item routerLink="actfijoAltas">Altas</li>
        </ul>
      </li>

      <li nz-submenu nzTitle="Config.Usuarios" nzIcon="team" nzSpin="true">

        <ul>
          <li nz-menu-item routerLink="usuarios">Usuarios</li>
          <li nz-menu-item routerLink="roles">Roles</li>
        </ul>
      </li>



    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <ul nz-menu nzTheme="dark" nzMode="horizontal">

        <li nz-submenu nzTitle="{{user.alias}}" nzIcon="user" style="float: right !important;
        text-transform: uppercase;
        margin-right: 50px !important;">
          <ul style="float: left !important;">
            <li nz-menu-item (click)="cerrarSesion()">Cerrar Sesión</li>
          </ul>
        </li>
      </ul>
    </nz-header>
    <nz-content>
      <div class="inner content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
