<nz-layout class="layout" nzTheme="dark" >
  <nz-sider class="sidebar" nzCollapsible nzBreakpoint="xs" style="position: sticky !important;z-index: 1000;">

    <ul nz-menu nzTheme="dark" nzMode="inline" class="sidebar">


      <div class="logo"><img src="./assets/img/blanco.png"  height=35 width="200"
        style="margin:auto;"></div>

      <li nz-submenu nzTitle="Gestiones" nzIcon="tool" *ngIf="user.rol != 'Usuario'">
        <ul style="align-items:left !important; float: left !important;">
          <li nz-menu-item routerLink="tipoactivo" > Tipo de activo</li>
          <li nz-menu-item routerLink="descripcionactivo" > Descrip. de activos</li>
          <li nz-menu-item routerLink="marcasactivo"> Marcas de activo</li>
          <li nz-menu-item routerLink="modelosactivo">Modelos de activo</li>
          <li nz-menu-item routerLink="tipoBienVnr">Tipo bien VNR</li>
          <li nz-menu-item routerLink="clasificacionAgd">Clasficaciones AGD</li>
          <li nz-menu-item routerLink="tiposdocumentos">Tipos de documentos</li>
          <li nz-menu-item routerLink="bodegas">Superv. de bodegas</li>
          <li nz-menu-item routerLink="ubiFisicas">Ubi. Físicas</li>
          <li nz-menu-item routerLink="ubiEspecificas">Ubi. Específicas</li>
        </ul>
      </li>

      <li nz-submenu nzTitle="Gestión de activos" nzIcon="snippets" nzSpin="true">
        <ul>
          <li nz-menu-item routerLink="actfijoGestion">Gestión de mis Activos</li>
          <li nz-menu-item routerLink="adminActivos" *ngIf="user.rol != 'Usuario'">Administrador de Activos</li>
          <li nz-menu-item routerLink="reportesActivos" *ngIf="user.rol != 'Usuario'">Reportes de Activos</li>
          <li nz-menu-item routerLink="supervisoractivos" *ngIf="user.bodegasSupervisor > 0">Supervisor de Activos</li>
        </ul>
      </li>

      <li nz-submenu nzTitle="Config.Usuarios" nzIcon="team" nzSpin="true" *ngIf="user.rol != 'Usuario'">

        <ul>
          <li nz-menu-item routerLink="usuarios">Usuarios</li>
          <li nz-menu-item routerLink="roles">Roles</li>
        </ul>
      </li>



    </ul>
  </nz-sider>
 
    <nz-header style="position: fixed;width: 100%;z-index: 100;">
      <ul nz-menu nzTheme="dark" nzMode="horizontal">

        <li nz-submenu nzTitle="{{user.alias}}" nzIcon="user" style="float: right !important;
        text-transform: uppercase;
        margin-right: 70px !important;">
          <ul style="float: left !important;">
            <li nz-menu-item (click)="cerrarSesion()">Cerrar Sesión</li>
          </ul>
        </li>
      </ul>
    </nz-header>
    <nz-content>
      <div class="inner content" style="margin-top: 60px;">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
 
</nz-layout>
