nz-select {
    width: 100% !important;
    font-family: 'Montserrat', sans-serif !important;
}
nz-form-label{
  font-family: 'Balsamiq Sans', sans-serif;
}
input{
  font-family: 'Montserrat', sans-serif !important;
}
textarea{
  font-family: 'Montserrat', sans-serif !important;
}

button{
    font-family: 'Balsamiq Sans', cursive;
}
nz-button{
    font-family: 'Balsamiq Sans', cursive;
}

h3{
    font-family: 'Balsamiq Sans', cursive;
    font-weight: bold !important;
    color: #023400 !important;
}

h2{
    font-family: 'Balsamiq Sans', cursive;
    font-weight: bold !important;
   color: #023400 !important;
}

h4{
  font-family: 'Balsamiq Sans', cursive;
  font-weight: bold !important;
 color: #023400 !important;
}

.titulo{
  font-family: 'Balsamiq Sans', cursive;
  font-weight: bold !important;
  font-size: 25px !important;
  color: #001529 !important;
}

nz-option{
  font-family: 'Montserrat', sans-serif !important;
}

th{
  font-family: 'Balsamiq Sans', cursive !important;
  color: white !important;
  background-color: #023400 !important;
}

td{
  font-family: 'Montserrat', sans-serif !important;
}

