<div class="titulo"> 
    Gestión de Roles

    <button nz-button nzType="primary" style="float: right;" (click)="showCardAgregar()"><i nz-icon nzType="folder-add"></i>Agregar</button>
    <button nz-button nzType="primary default" style="float: right;" (click)="showCardListado()"><i nz-icon nzType="bars"></i>Listado de roles</button>
    
    <nz-divider nzType="horizontal" style="height: 1px !important;background-color: #001529;"></nz-divider>
</div>

<!--card para lista de roles-->
<nz-card style="width:60%" class="cardShadow" *ngIf="mostrarCardListado">
    <div nz-row>
      <div nz-col nzSpan="18">
        <h2> <i nz-icon nzType="tool" nzTheme="outline"></i> Listado de roles</h2>
      </div>
        <div nz-col nzSpan="6">
          <nz-form-label>Buscar </nz-form-label>
          <input nz-input [(ngModel)]="_texto" id="texto" name="texto" placeholder="Buscar" 
          autocomplete="off" (ngModelChange)="ConvertToLower($event)">
        </div>
    </div>
    <nz-divider nzType="horizontal" style="height: 1px !important;background-color: #001529;"></nz-divider>
    <div nz-row>
        <nz-skeleton [nzActive]="true"  *ngIf="mostrarSkeleton"></nz-skeleton>
    

        <nz-table nzShowPagination #rowSelectionTable
        nzShowSizeChanger #basicTable (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
         [nzData]="listOfData  | searchroles: texto" *ngIf="mostrarTablaCarga">
            <thead>
              <tr>
               
                <th><i nz-icon nzType="tool" nzTheme="outline"></i> Rol</th>
                <th style="text-align: center; align-items: center;"><i nz-icon nzType="bars" nzTheme="outline"></i> Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let roles of rowSelectionTable.data">
                <td>{{ roles.rol }}</td>
                <td style="text-align: center; align-items: center;">
                    <button nz-button nzType="default" (click)="editarRolCard(roles)"><i nz-icon nzType="edit" nzTheme="outline"></i> Editar</button>
                    <button nz-button nzType="default" nzDanger (click)="eliminarRol(roles)"> <i nz-icon nzType="delete" nzTheme="outline"></i> Eliminar</button>
                   
                </td>
              </tr>
            </tbody>
          </nz-table>
    </div>
        
    
</nz-card>

<!--Card para mostrar formulario de agregar rol-->
<nz-card style="width:60%" class="cardShadow" *ngIf="mostrarCardAgregar">
    <div nz-row>
        <div nz-col nzSpan="12">
            <img src="./assets/img/cogs.png" class="imgCenter"/>
        </div>
        
        <div nz-col nzSpan="12">
            <h3> <i nz-icon nzType="tool" nzTheme="outline"></i> Agregar nuevo rol</h3>
            <nz-divider nzType="horizontal" style="height: 1px !important;background-color: #001529;"></nz-divider>
            <form nz-form  [formGroup]="agregarRolForm">
                <nz-form-item>
                  <nz-form-control>
                      <nz-form-label nzRequired>Nombre de rol</nz-form-label>
                      <input type="text" autocomplete="off" nz-input formControlName="nombreRol" name="nombreRol" placeholder="Nombre de Rol"/>
                  </nz-form-control>
                </nz-form-item>
              </form>
              
              <div nz-row style="margin-top: 10px;float: right !important;">
                <button nz-button nzType="primary" [disabled] = "agregarRolForm.invalid" style="float: right !important;" (click)="guardarRol()"><i nz-icon nzType="save"></i>Guardar</button>
              </div>
             
        </div>
    </div>
  
</nz-card>


<!--Card para mostrar formulario de editar rol-->
<nz-card style="width:60%" class="cardShadow" *ngIf="mostrarCardEditar">
    <div nz-row>
        <div nz-col nzSpan="12">
            <img src="./assets/img/cogwheel.png" class="imgCenter"/>
        </div>
        
        <div nz-col nzSpan="12">
            <h3> <i nz-icon nzType="tool" nzTheme="outline"></i> Editar rol</h3>
            <nz-divider nzType="horizontal" style="height: 1px !important;background-color: #001529;"></nz-divider>
            <form nz-form  [formGroup]="editarRolForm">
                <nz-form-item>
                  <nz-form-control>
                      <nz-form-label>Nombre de usuario</nz-form-label>
                      <input type="text" nz-input formControlName="rol" name="rol" [(ngModel)]="rolEdit.rol" autocomplete="off"/>
                      <input type="hidden" nz-input formControlName="id" name="id" [(ngModel)]="rolEdit.id" readonly/>
                  </nz-form-control>
                </nz-form-item>
              </form>
              
              <div nz-row style="margin-top: 10px;float: right !important;">
                <button nz-button nzType="danger" [disabled] = "editarRolForm.invalid"  style="float: right !important;" (click)="cancelarEdicionRol()"><i nz-icon nzType="close"></i>Cancelar</button>
                <button nz-button nzType="primary"  [disabled] = "editarRolForm.invalid" style="float: right !important;" (click)="guardarEdicionRol()"><i nz-icon nzType="save"></i>Guardar Cambios</button>
              </div>
             
        </div>
    </div>
  
</nz-card>