
.login-form {
    max-width: 300px;
    margin-left: 180px;
  }

  .login-form-margin {
    margin-bottom: 16px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
    background-color: #659603 !important;
    color: white !important;
    font-weight: bold;
    margin-left: 5px;
  }

  .login-form-button:hover {
    width: 100%;
    background-color: #A9FB00 !important;
    color: black !important;
    border: 1px solid #A9FB00 !important;
  }

  .img-login{
      max-width: 300px;
      margin-bottom: 10px;
      margin-top: 130px;
      margin-left: 130px;
  }
  .inputZ{
      width: 100% !important;
      font-size: 15px;
      font-weight: bold;
  }

  .inputZi{
    font-size: 15px;
    font-weight: bold;
}
  
  .inputZ:focus{
    border: 1px solid #171818 !important;
   } 

   .inputZ:hover{
    border: 1px solid #171818 !important;
   } 

   .cardLogin{
    position:absolute;
    margin: auto;
    min-height: 200px;
    margin-top: 80px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    max-width: 800px !important;
    min-width: 800px !important;
    margin-left: 22%;
    background-color: white;
   }


  .shape-top{
    position:absolute;
      width: 50%;
      height: 50%;
      background-color: #E1F9B2;
    clip-path:  polygon(21% 51%, 68% 76%, 77% 40%, 31% 25%, 26% 78%, 76% 20%, 86% 68%, 60% 89%, 26% 13%, 52% 17%, 68% 9%, 87% 21%, 92% 45%, 94% 57%, 45% 82%, 12% 23%, 16% 10%, 33% 8%, 9% 59%, 69% 42%);
  }
  
  .shape-top1{
    position:absolute;
    margin-left: 50%;
    margin-top: 25%;
      width: 50%;
      height: 50%;
      background-color: #dedfde;
    clip-path: polygon(73% 39%, 32% 18%, 52% 87%, 94% 44%, 86% 28%, 100% 15%, 60% 21%, 88% 87%, 99% 60%, 66% 49%, 9% 21%, 26% 81%);
  }

 