<div class="titulo"> 
    Gestión de ubicaciones específicas

    <button nz-button nzType="primary" style="float: right;" (click)="showCardAgregar()">
        <i nz-icon nzType="folder-add"></i>Agregar
    </button>
    <button nz-button nzType="primary default" style="float: right;" (click)="showCardListado()">
        <i nz-icon nzType="bars"></i>Listado de ubicaciones
    </button>
    
    <nz-divider nzType="horizontal" style="height: 1px !important;background-color: #001529;"></nz-divider>
</div>
