.cardShadow1{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    width:45%; 
    float: left !important;
    background-color: #fcfcfc !important;
    margin-bottom: 50px !important;
    margin-left: 50px !important;
}




.cardShadow2{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  width:45%; 
  float: right !important;
  background-color: #fcfcfc !important;
  margin-bottom: 50px !important;
  margin-right: 50px !important;
}



.cardShadow{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  float: left !important;
  background-color: #fcfcfc !important;
  margin-left: 50px !important;
}

.imgCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}





nz-form-label{
  font-weight: bold;
}

h3{
    color: green !important;
    text-align: center !important;
}




th{
  background-color: #007E61 !important;
  font-size: 10px !important;
}

td{
  font-size: 10px !important;
}



